svg {
  display: inline-block;
  width: 2rem;
  height: 2rem;
  overflow: visible;
}

.svg-icon {
  cursor: pointer;
}

.svg-icon path {
  stroke: rgba(255, 255, 255, 0.9);
  fill: none;
  stroke-width: 1;
}

body {
  background-image: url("/img/hero-01.jpg");
  background-size: cover;
  background-attachment: fixed;
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  position: relative;
}

.login-logo {
  padding: 30px;
}
.login-logo img {
  margin-top: 40px;
}

.login {
  position: fixed;
  width: 300px;
  height: 100%;
  right: 0;
  top: 0;
  overflow: hidden;
  background-color: rgba(57, 57, 57, 0.3);
  color: #fff;
  padding: 40px;
}

.login h1 {
  color: #fff;
  font-family: 'Nunito', sans-serif;
  text-align: center;
  font-size: 20px;
}

.login form {
  text-align: center;
  margin-top: 50px;
}

.login .row {
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  margin-top: 20px;
}

.login .input-group-addon {
  background: transparent;
  border: none;
}

.login .form-control {
  background: none;
  border: none;
  box-shadow: none;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}

.login .icon {
  margin-bottom: -0.4rem;
  margin-right: 0.5rem;
}

.login .icon.name path {
  stroke-dasharray: 73.50196075439453;
  stroke-dashoffset: 73.50196075439453;
  -webkit-animation: animatePath 2s 0.5s forwards;
          animation: animatePath 2s 0.5s forwards;
}
.login .icon.pass path {
  stroke-dasharray: 92.10662841796875;
  stroke-dashoffset: 92.10662841796875;
  -webkit-animation: animatePath 2s 0.5s forwards;
          animation: animatePath 2s 0.5s forwards;
}

.login .form-control {
  display: inline-block;
  font-size: 14px;
  background: transparent;
  color: #FDFCFD;
}

.login .submit {
  display: block;
  height: 4rem;
  margin-top: 5rem;
  color: rgba(255, 255, 255, 0.8);
  background: #4b98a9;
  font-size: 1.5rem;
  border-radius: 3rem;
  -webkit-transition: width 0.3s 0.15s, font-size 0.1s 0.15s;
  transition: width 0.3s 0.15s, font-size 0.1s 0.15s;
}

.login .alert.alert-danger {
  opacity: 0.8;
  background-color: #BB1F23;
  color: #fff;
  font-size: 12px;
  border: none;
}

@-webkit-keyframes animRipple {
  to {
    -webkit-transform: scale(3.5);
            transform: scale(3.5);
    opacity: 0;
  }
}

@keyframes animRipple {
  to {
    -webkit-transform: scale(3.5);
            transform: scale(3.5);
    opacity: 0;
  }
}
@-webkit-keyframes rotate {
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
@keyframes rotate {
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
@-webkit-keyframes animatePath {
  to {
    stroke-dashoffset: 0;
  }
}
@keyframes animatePath {
  to {
    stroke-dashoffset: 0;
  }
}
